/* ********* */
/* @VARIABLES */
/* ********* */

// collors

$colorTextoEspecial: #687fb3;
$colorTextoGeneral: #545557; 
$colorBoton: #4385f5;
$colorTitulo: rgb(0, 0, 0);

// fuente

$fuenteGenerica: helvetica;