/* ********* */
/* @VARIABLES */
/* ********* */

// collors

$colorTextoEspecial: #687fb3;
$colorTextoGeneral: #545557; 
$colorBoton: #4385f5;
$colorTitulo: rgb(0, 0, 0);
$fondoParteSuperior:#f2f8f8;
$colorTextoBoton:rgb(228, 228, 228);

// fuente

$fuenteGenerica: helvetica;