/* ********* */
/* @HOME */
/* ********* */
body{
    font-family: $fuenteGenerica;
    color: $colorTextoGeneral;
}
.imagenes{
    height: 360px;
}

.contenido{
    padding: 15px;
    width: 900px;

}

.centrado{
    padding: 15px;
}
.parteSuperior{
    background-color: $fondoParteSuperior;
    padding: 50px;



}

.parteInferior{
    
    padding: 50px;
     p{
        margin:6px;
     }
   
}

.boton{
    text-decoration: none;
    color: $colorTextoBoton;
    padding: 15px;
    background-color: $colorBoton;
    border-radius: 5px;
    width: 100px;
    font-size: .8rem;
    text-align: center;
}

.parteSuperior__informacion__especial{
    border-left: 2px solid $colorTextoEspecial;
    padding-left: 15px;
    color: $colorTextoEspecial;
}
      




.simboloVisto{
    display: inline;
    color: green;
    font-size: 1.5em;
    padding-right: 5px;
}

.lista__contenido{
    list-style: none;
}

ul{
    padding-left:0;
}


.titulo{
    color: $colorTitulo;
}